<!DOCTYPE html>
<html lang="en">

<head>

    <title>RestAPI Project</title>
        <link href="../stylesheet/style.css" rel="stylesheet" />

</head>

<body>
    {{{body}}}
      <script type="module" src="../javascripts/main.js"></script>
</body>


</html>