<div id="login-page">
    <form class="login-form" method="POST" action="./">
    <input id="email" type="email" required="">
    <label for="email">email</label>

    <input id="password" type="password" required="">
    <label for="password">email</label> 

    <button type="submit">LOGIN</button>
    </form>
</div>