<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link href="../style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="root">
      <div id="channels-SideBar">
        <h2>Channels</h2>
        <ul id="channels">
          <li style="color :green;" id="channel">
            <p id="content"></p>
          </li> 
        </ul>
      </div>

      <div id="messages-Bar">
          <h2>Messages</h2>
          <ul id="messages">
              <li style="color :brown;" id="message">
                <p id="message-content"></p>
              </li> 
            </ul>

            <form class="input-item">
                <input
                  type="text"
                  placeholder="Type a message"
                  s=""
                  style="color:black;"
                />
              </form>
        </div>

       
      </div>
    
    <script type="module" src="../main.js"></script>
  </body>
</html>
