<div id="register-page">
    <form class="register-form" method="POST" action="/api/register">
        <input id="user_email" type="email" class="validate" name="email" required="">
        <label for="user_email">Email</label>
        <input ids="user_pass" type="password" class="validate" name="password" required="">
        <label for="user_pass">Password</label>
        <button type="submit">Register</button>
    </form>
</div>